  <h2 id="latestTalks">Latest Talks</h2>
   {{#link-to 'talks' class="btn btn-link"}}View All{{/link-to}}
  <ul class="list-latest" aria-labelledby="latestTalks">
    <li>
      {{#each talks as |talk|}}
        {{talk-item talk=talk}}
      {{/each}}
    </li>
  </ul>

  <h2 id="latestTutorials">Latest Tutorials</h2>
   {{#link-to 'tutorials' class="btn btn-link"}}View All{{/link-to}}
  <ul class="list-latest" aria-labelledby="latestTutorials">
    <li>
      {{#each tutorials as |tutorial|}}
        {{tutorial-item tutorial=tutorial}}
      {{/each}}
    </li>
  </ul>
  
  <h2 id="latestScreencasts">Latest Screencasts</h2> 
  {{#link-to 'screencasts' class="btn btn-link"}}View All{{/link-to}}
  <ul class="list-latest" aria-labelledby="latestScreencasts">
    <li>
      {{#each screencasts as |screencast|}}
        {{screencast-item screencast=screencast}}
      {{/each}}
    </li>
  </ul>
